<ActionBar title="Chat">
    </ActionBar>
    <TabView>
        <GridLayout *tabItem="{title:'Chats'}">
            <StackLayout orientation="horizontal" (tap)="click()">
                    <Label text="Module Will be Presented In version 2.0" textWrap="true" fontSize="18"></Label>
            </StackLayout>
        </GridLayout>
    
        <GridLayout *tabItem="{title:'Contacts'}">
            <StackLayout orientation="horizontal" (tap)="click()">
                <Label text="Module Will be Presented In version 2.0" textWrap="true" fontSize="18"></Label>
            </StackLayout>
        </GridLayout>
    
        <GridLayout *tabItem="{title:'Starred'}">
                <StackLayout orientation="horizontal" (tap)="click()">
                        <Label text="Module Will be Presented In version 2.0" textWrap="true" fontSize="18"></Label>
                </StackLayout>
            </GridLayout>
    </TabView>